# C
*.o
*.bc
*.so

# Test results
test/regression.*
test/results

# Generated
sql/*.sql
src/extension.h
test/expected/install.out
test/expected/binding-functions.out
test/sql/binding-functions.sql
libh3-*/
h3-*.zip

# IDEs
.vscode
