name: test-macos

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  macos:
    strategy:
      matrix:
        config: [Release, Debug]
        pg: [14]

    runs-on: macos-14

    steps:
      - uses: actions/checkout@v3

      # - name: Cache Cargo
      #   uses: actions/cache@v3
      #   with:
      #     path: ~/.cargo
      #     key: ${{ runner.os }}-cargo-2023

      # - name: Install pg_validate_extupgrade
      #   run: cargo install --locked --git https://github.com/rjuju/pg_validate_extupgrade.git

      - name: Install PostgreSQL and PostGIS
        run: brew install postgresql@${{ matrix.pg }} postgis

      - name: Generate
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{ matrix.config }}

      - name: Build
        run: cmake --build build --config ${{ matrix.config }}

      - name: Install
        run: sudo cmake --install build --component h3-pg --config ${{ matrix.config }}

      - name: Prepare PostgreSQL
        run: brew services start postgresql@${{ matrix.pg }}

      - name: Test
        run: ctest --test-dir build --output-on-failure --build-config ${{ matrix.config }}

      - name: Print regression diffs
        if: ${{ failure() }}
        run: cat build/*/regression.diffs
